.brands-page {
  padding: 140px 20px 40px;
}

.page-title {
  font-size: 3rem;

  color: white;

  margin-bottom: 40px;

  font-weight: bold;
}

.brands-grid {
  display: flex;

  flex-direction: column;

  gap: 30px;

  align-items: center;
}